.Product-Container{
    padding-top: 90px;
}


.sub-NavBar-Container{
    width: 100%;
    background-color: #eaded7;
    padding: 40px 0px;
}
.sub-NavBar{
    width: 85%;
    margin: auto;
}

.sub-NavBar h1{
    letter-spacing: 3px;
    font-size: 30px;
}



.displayTemplate{
    width: 85%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}


.product-select-section{
    width: 16%;
   
}

.product-select-Scroll{
    position: relative;
}
.product-select-Scroll-none{
    position: fixed;
    bottom: 80px;
    margin-bottom: 20px;
    
}

.category h4{
    color: #102a42;
    letter-spacing: 1.5px;
    margin-top: 15px;
}
.category p{
    color: #617d98;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 1.3px;
    transition: all 0.3s linear;
    font-weight: 500;
}

.Help-container{
    margin-top: 10px;
    
}

.Help-sub-container{
    display: flex;
}

.Help-sub-container span{
    color: #ab7a5f;
    font-size: 35px;
    margin: 10px 0px 0px 0px;
}
.Help-sub-container h6{
    color: #617d98;
    letter-spacing: 1.3px;
    margin: 18px 5px 5px 10px;
}













































.product-image-section{
    width: 81%;
    
}

/* Product Found container, it contains the Grid / List icons, Product Found, Sort By */
.product-found-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.line{
    width: 50%;
    height: 15px;
    background-color: transparent;
    border-bottom: 1px solid #bcccdc;
}

/* grid-and-list-Icons/Buttons */
.product-image-section span{
    color: silver;
    font-size: 30px;
    font-weight: lighter;
    cursor:default;
    margin-right: 10px;
    border-radius: 5px;
}
.product-image-section span:hover{
    color:#613a25 ;
}

#grid-and-list-Icons-Focus{
    color: white;
    background-color: #613a25;
    transition: all 0.3s ease-in-out;
   
}

.product-image-wrapper-Grid{
    display: grid;
    column-gap:25px;
    row-gap: 30px;
    margin-bottom: 20px;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-image-wrapper-List{
    display: block;

}


.search-Grid{/* the search symbol that appears when the image is hovered */
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    width: 21.7%;
    height: 140px;
    text-align: center;
    padding-top: 90px;
    opacity: 0; 
    transition: all 0.3s ease-in;
    border-radius: 5px;
    display: block;
}
.search-Grid:hover{
    opacity: 1;
    transition: all 0.3s ease-out;
}
.search-Display-none{
    display: none;
}
.search-Grid span{
    padding: 10px;
    background-color: #ab7a5f;
    font-size: 30px;
    color: white;
    border-radius: 50px;
}



.image-container-Grid{
  width: 100%;
  /* height: 170px; */
}
.image-container-Grid img{
    border-radius: 5px;
}
.image-container-List{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    margin-bottom: 30px;
}
.image-container-List img{
    border-radius: 5px;
}
.image-details-Grid{
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    
}
.image-details-List{
    display: block;
    margin-top: 25px;    
}
.image-details-List .name {
    font-size: 23px;
    font-weight: bolder;
    letter-spacing: 1.8px;
    color: black;
}
.image-details-List .price {
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1.8px;
    color: #b99179;
    margin: 8px 0px 15px 0px;
}



.image-Description-Grid-Display-none{
    display: none;
}

.image-Description-List{
    display: block;
    line-height: 25px;
}

.Details-Button-List{
    display: block;
    padding: 6px 9px;
    border: 0px;
    color: rgb(236, 232, 232);
    background-color: #ab7a5f;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.Details-Button-List:hover{
    background-color: #cfa893;
    color: #613a25;
    transition: all 0.3s ease-out;
}

.image-details-List a{
    text-decoration: none;
}



