.Wrapper{
    padding-top: 90px;
}

.product-wrapper{
    
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #617d98;
}


.product-headers{
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 45px;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #617d98;
    color: #617d98;
    margin-top: 60px;
}
.product-name-Header{
    width: 220px;
    text-align: center;
}




.product-and-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 45px;

}

.image-and-name{
    display: flex;
    width: 210px;
    

    
}
.image-and-name img{
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.productName{
    color: #102a42;
    letter-spacing:  0.1em;
    font-size: 0.75rem;
    margin-top: 30px;
}


.product-price{
    color:#ab7a5f;
    margin-top: 30px;
    letter-spacing:  0.1em;
    font-size: 15px;
    font-weight: 360;

}

.product-quantity{
    margin-top: 30px;
    color: #102a42;
    font-weight: 500;
    font-size: 18px;

}

.sub-total{
    margin-top: 30px;
    color: #617d98;
    letter-spacing:  0.1em;
    font-size: 15px;
    font-weight: 360;
}
.Trash-can{
    margin-top: 30px;
    color: white;
    background-color: #bb2525;
    height: 18px;
    padding: 2px;
    border-radius: 5px;
    
}

.delete-button{
    font-size: 17px;
    cursor: pointer;
}



.fillCart{
    width: 85%;
}